# WANGO Delivery Environment Template (DO NOT COMMIT SECRETS TO GITHUB)
PORT=4000
SHIPDAY_API_KEY=your_shipday_api_key_here
GOOGLE_CLIENT_ID=121203388429-uos8ldhujrkhr8r4bo9o0fpkkltf4aoi.apps.googleusercontent.com
